# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

node_modules
.idea

/FluxAnimations/bin/data/oauth.xml

/FluxOF/bin/data/Prototype01/snapshots/

/FluxOF/bin/data/Prototype01/videos/

*.mov

FluxOF/bin/data/RenderRadar/snapshots

/FluxOF/bin/data/RenderLasers/snapshots/

/FluxOF/bin/data/images
/FluxOF/bin/data/images_screenshots

/photos

/FluxNodeJS/tmp*
/FluxOF/bin/data/imageQueue.xml
